.nav-bar-container-light1 {
    width: 100%;
    background-color: rgb(15, 14, 14);
    border-bottom-style: solid;
    border-bottom-color: #110707;
    border-bottom-width: 2px;
    height: 67px;
  }
.nav-logo{
  margin-left: 50px;
  color: #fff !important;
}

.header-logo{
  outline: none;
}
  
  .list-item {
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
  }
  


