.nav-bar-container-light {
    width: 100%;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #dcdcdc;
    border-bottom-width: 2px;
    height: 67px;
    position:fixed;
    z-index: 999;
    /* margin-top:10px; */
  }
.header-logo{
  outline: none;
}
  
  .list-item {
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
  }
  

.dropdownbutton{
  padding:6px !important;
}
.dropdownslide{
  text-align: -webkit-right;
  margin-right:8px;
}
.dropdown{
  width:100px;
  height:100px;
  background-color: red;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-top-color: black;
  border-style: solid;
  border-bottom-width: 2px;
}